.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 72rem;
}

.top {
  background: #014E56;
}

.myteam {
  height: 500px;
  padding-top: 20px;
}

.myteam-div-one {
  display: flex;
}

.myteam-div-one ul {
  font-size: 20px;
  margin-left: 50px;
  list-style-type: none;
  display: flex;
  gap: 100px;
}

.myteam-div-one a:active {
  color: #F67E7E;
}

.myteam-div-one a {
  text-decoration: none;
  color: white;
}

.myteam-div-one a:nth-child(2),
.myteam-div-one a:nth-child(3) {
  opacity: 0.5;
}

.myteam-div-one button {
  width: 200px;
  height: 40px;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: #FFFFFF;
  margin-left: 400px;
}

.myteam-div-one button:active {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: #000;
}

.myteam-div-two {
  margin-top: 50px;
  margin-left: 90px;
  display: flex;
}

.myteam-div-two-div-one h2 {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100px;
  width: 350px;
  color: #FFFFFF;
}

.myteam-div-two-div-one span {
  color: #F67E7E;
}

.myteam-div-two-div-two {
  margin-left: 200px;
}

.myteam-div-two-div-two hr {
  margin-top: 100px;
  width: 50px;
  background: #79C8C7;
}

.myteam-div-two-div-two p {
  width: 400px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}



.center {
  background: #012F34;
}

.build {
  display: flex;
  height: 450px;
}


.build-div-two {
  flex-direction: row;
}

.build-div-two h3 {
  margin-left: 70px;
}

.build-div-two p {
  margin-left: 70px;
}

.build-div-two img {
  position: absolute;
}

.build-div-one {
  margin-top: 100px;
}

.build-div-two {
  margin-top: 100px;
}

.build-div-one hr {
  width: 50px;
}

.build-div-one h2 {
  margin-left: 100px;
  width: 500px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.build-div-two-one h3 {
  color:#F67E7E ;
}

.build-div-two-one p {
  color: #FFF;
}

.build-div-two-two h3 {
  color: #F67E7E;
}

.build-div-two-two p {
  color: #FFF;
}

.build-div-two-there h3 {
  color: #F67E7E;
}

.build-div-two-there p {
  color: #FFF;
}

.real {
  margin-top: -50px;
  background: #004047;
  height: 500px;
}

.real h2 {
  color: white;
  font-size:50px;
  padding-top: 50px;
  width: 900px;
  text-align: center;
  padding-left: 150px;
}

.real span {
  color: #79C8C7;
}

.team {
  display: flex;
}

.team p {
  color: white;
}

.fit-1 {
  margin-left: 70px;
}

.fit-1 p:nth-child(1) {
  width: 300px;
  text-align: center;
}

.fit-1 p:nth-child(2) {
  text-align: center;
  color: #79C8C7;
}

.fit-1 p:nth-child(3) {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}

.fit-1 img {
  margin-left: 120px;
}


.fit-2 {
  margin-left: 70px;
}

.fit-2 p:nth-child(1) {
  width: 300px;
  text-align: center;
}

.fit-2 p:nth-child(2) {
  text-align: center;
  color: #79C8C7;
}

.fit-2 p:nth-child(3) {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}

.fit-2 img {
  margin-left: 120px;
}

.fit-3 {
  margin-left: 70px;
}

.fit-3 p:nth-child(1) {
  width: 300px;
  text-align: center;
}

.fit-3 p:nth-child(2) {
  text-align: center;
  color: #79C8C7;
}

.fit-3 p:nth-child(3) {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}

.fit-3 img {
  margin-left: 120px;
}

.ready {
  background: #F67E7E;
  height: 200px;
}

.get {
  display: flex;
}

.get h2 {
  margin-left: 70px;
  font-size: 60px;
}

.get button {
  width: 200px;
  height: 35px;
  border-radius:30px;
  background: none;
  margin-top: 70px;
  margin-left: 300px;
}



.hill {
  background: #012F34;
  height: 200px;
  margin-top: -50px;
}


.bottom {
  padding-top: 50px;
  display: flex;
}

.bottom-1 h2 {
  margin-left: 70px;
  color: white;
}

.bottom-1 ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-left: 30px;
  color: white;
}

.bottom-2 p {
  margin-left: 70px;
  opacity: 0.6;
  color: white;
}

.bottom-3 {
  margin-top: 30px;
  margin-left: 400px;
}

.bottom-3 img {
  margin-left: 10px;
}

.bottom-3 p {
  opacity: 0.6;
  color: white;
}





.menu {
  width: 20px;
  height: 20px;
  display: none;
}


/* Responsive */

@media only screen and (max-width: 768px) {

  .container {
    width: 90%;
  }

  .myteam-div-one ul {
    margin-left: 0px;
    gap: 50px;
  }

  .myteam-div-one button {
    width: 150px;
    margin-left: 200px;
    margin-top: 5px;
  }

  .myteam-div-two-div-one h2 {
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    margin-left: 70px;
  }

  .myteam-div-two-div-two p {
    position: absolute;
    height: 84px;
    left: 180px;
    margin-top: 70px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }

  .build-div-one h2 {
    font-size: 40px;
    width: 500px;
    line-height: 32px;
  }

  .center {
    height: 700px;
  }

  .build-div-two-one {
    position: absolute;
    width: 573px;
    height: 94px;
    left: 97px;
    top: 804px;
  }

  .build-div-two-two {
    position: absolute;
    width: 573px;
    height: 94px;
    left: 85px;
    top: 920px;
  }

  .build-div-two-there {
    position: absolute;
    width: 573px;
    height: 94px;
    left: 85px;
    top: 1050px;
  }


  .real {
    height: 1000px;
  }

  .real h2 {
    width: 420px;
    font-size: 32px;
  }

  .fit-1 {
    position: absolute;
    width: 573px;
    height: 253px;
    left: 97px;
    top: 1400px;
  }

  .fit-1 p:nth-child(1) {
    margin-left: -100px;
    width: 600px;
    text-align: center;
  }

  .fit-1 p:nth-child(2) {
    margin-left: -200px;
  }

  .fit-1 p:nth-child(3) {
    margin-left: -200px;
  }

  .fit-1 img {
    margin-left: 150px;
  }

  .fit-2 {
    position: absolute;
    width: 573px;
    height: 253px;
    left: 97px;
    top: 1655px;
  }

  .fit-2 p:nth-child(1) {
    margin-left: -100px;
    width: 600px;
    text-align: center;
  }

  .fit-2 p:nth-child(2) {
    margin-left: -200px;
  }

  .fit-2 p:nth-child(3) {
    margin-left: -200px;
  }

  .fit-2 img {
    margin-left: 150px;
  }

  .fit-3 {
    position: absolute;
    width: 573px;
    height: 253px;
    left: 97px;
    top: 1906px;

  }

  .fit-3 p:nth-child(1) {
    margin-left: -100px;
    width: 600px;
    text-align: center;
  }

  .fit-3 p:nth-child(2) {
    margin-left: -200px;
  }

  .fit-3 p:nth-child(3) {
    margin-left: -200px;
  }

  .fit-3 img {
    margin-left: 150px;
  }

  .ready {
    height: 150px;
  }

  .get h2 {
    font-size: 32px;
    width: 400px;
    margin-top: 30px;
  }

  .get button {
    margin-left: 40px;
    margin-top: 30px;
    width: 130px;
  }

  .hill {
    height: 300px;
  }

  .bottom-1 ul {
    margin-top: 50px;
  }

  .bottom-2 p {
    margin-left: 300px;
    width: 200px;
    text-align: right;
    line-height: 1.5;
  }


  .bottom-3 img:nth-child(1) {
    margin-top: 120px;
    margin-left: -1000px;
  }

  .bottom-3 p {
    position: absolute;
    left: 470px;
    margin-top: -20px;
  }

}


@media only screen and (max-width: 576px) {

  .container {
    width: 90%;

  }

  .menu {
    position: absolute;
    display: block;
    left: 300px;
    top: 40px;
  }

  .menu-a {
    display: none;
  }

  .myteam-div-two-div-one h2 {
    position: absolute;
    left: 0px;
    font-size: 40px;
    line-height: 1;
    width: 200px;
  }

  .myteam-div-two-div-two hr {
    display: none;
  }

  .myteam-div-two-div-two p {
    position: absolute;
    left: 30px;
    top: 200px;
    width: 300px;


  }

  .center {
    height: 850px;
  }

  .build-div-one hr {
    display: none;
  }

  .build-div-one h2 {
    position: absolute;
    top: 550px;
    left: -70px;
    width: 200px;
    font-size: 32px;
    line-height: 32px;
  }

  .build-div-two-one img {
    left: 50px;
    position: absolute;
    top: -20px;
  }

  .build-div-two-one h3 {
    position: absolute;
    top: 40px;
    left: -80px;
  }

  .build-div-two-one p {
    position: absolute;
    top: 70px;
    left: -140px;
    width: 300px;
    text-align: center;
  }


  .build-div-two-two img {
    left: 50px;
    position: absolute;
    top: 50px;
  }

  .build-div-two-two h3 {
    position: absolute;
    top: 100px;
    left: -80px;
  }

  .build-div-two-two p {
    position: absolute;
    top: 130px;
    left: -140px;
    width: 300px;
    text-align: center;
  }


  .build-div-two-there img {
    position: absolute;
    top: 100px;
    left: 50px;
  }

  .build-div-two-there h3 {
    position: absolute;
    top: 150px;
    left: -80px;
  }

  .build-div-two-there p {
    position: absolute;
    top: 180px;
    left: -140px;
    width: 300px;
    text-align: center;
  }


  .real h2 {
    position: absolute;
    width: 327px;
    font-size: 30px;
    left: -130px;
  }

  .fit-1 p:nth-child(1) {
    position: absolute;
    top: 130px;
    width: 300px;
    left: -40px;
  }

  .fit-1 p:nth-child(2) {
    position: absolute;
    top: 180px;
    left: 200px;
    left: 150px;
  }

  .fit-1 p:nth-child(3) {
    position: absolute;
    top: 260px;
    left: 90px;

  }

  .fit-1 img {
    position: absolute;
    left: -200px;
    top: 280px;
  }


  .fit-2 p:nth-child(1) {
    position: absolute;
    top: 120px;
    width: 300px;
  }

  .fit-2 p:nth-child(2) {
    position: absolute;
    top: 210px;
    left: 200px;
  }

  .fit-2 p:nth-child(3) {
    position: absolute;
    top: 260px;
    left: 120px;
  }

  .fit-2 img {
    position: absolute;
    left: -150px;
    top: 280px;
  }


  .fit-3 p:nth-child(1) {
    position: absolute;
    top: 120px;
    width: 300px;
  }

  .fit-3 p:nth-child(2) {
    position: absolute;
    top: 210px;
    left: 200px;
  }

  .fit-3 p:nth-child(3) {
    position: absolute;
    top: 260px;
    left: 120px;
  }

  .fit-3 img {
    position: absolute;
    left: -150px;
    top: 280px;
  }

}