.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 72rem;
}

.top {
  background: #014E56;
}

.myteam {
  height: 500px;
  padding-top: 20px;
}

.myteam-div-one {
  display: flex;
}

.myteam-div-one ul {
  font-size: 20px;
  margin-left: 50px;
  list-style-type: none;
  display: flex;
  gap: 100px;
}

.myteam-div-one a:active {
  color: #F67E7E;
}

.myteam-div-one a {
  text-decoration: none;
  color: white;
}

.myteam-div-one a:nth-child(2),
.myteam-div-one a:nth-child(3) {
  opacity: 0.5;
}

.myteam-div-one button {
  width: 200px;
  height: 40px;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: #FFFFFF;
  margin-left: 400px;
}

.myteam-div-one button:active {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: #000;
}

.myteam-div-two {
  margin-top: 50px;
  margin-left: 90px;
  display: flex;
}

.myteam-div-two-div-one h2 {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100px;
  width: 350px;
  color: #FFFFFF;
}

.myteam-div-two-div-one span {
  color: #F67E7E;
}

.myteam-div-two-div-two {
  margin-left: 200px;
}

.myteam-div-two-div-two hr {
  margin-top: 100px;
  width: 50px;
  background: #79C8C7;
}

.myteam-div-two-div-two p {
  width: 400px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}



.center {
  background: #012F34;
}

.build {
  display: flex;
  height: 450px;
}


.build-div-two {
  flex-direction: row;
}

.build-div-two h3 {
  margin-left: 70px;
}

.build-div-two p {
  margin-left: 70px;
}

.build-div-two img {
  position: absolute;
}

.build-div-one {
  margin-top: 100px;
}

.build-div-two {
  margin-top: 100px;
}

.build-div-one hr {
  width: 50px;
}

.build-div-one h2 {
  margin-left: 100px;
  width: 500px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.build-div-two-one h3 {
  color:#F67E7E ;
}

.build-div-two-one p {
  color: #FFF;
}

.build-div-two-two h3 {
  color: #F67E7E;
}

.build-div-two-two p {
  color: #FFF;
}

.build-div-two-there h3 {
  color: #F67E7E;
}

.build-div-two-there p {
  color: #FFF;
}

.real {
  margin-top: -50px;
  background: #004047;
  height: 500px;
}

.real h2 {
  color: white;
  font-size:50px;
  padding-top: 50px;
  width: 900px;
  text-align: center;
  padding-left: 150px;
}

.real span {
  color: #79C8C7;
}

.team {
  display: flex;
}

.team p {
  color: white;
}

.fit-1 {
  margin-left: 70px;
}

.fit-1 p:nth-child(1) {
  width: 300px;
  text-align: center;
}

.fit-1 p:nth-child(2) {
  text-align: center;
  color: #79C8C7;
}

.fit-1 p:nth-child(3) {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}

.fit-1 img {
  margin-left: 120px;
}


.fit-2 {
  margin-left: 70px;
}

.fit-2 p:nth-child(1) {
  width: 300px;
  text-align: center;
}

.fit-2 p:nth-child(2) {
  text-align: center;
  color: #79C8C7;
}

.fit-2 p:nth-child(3) {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}

.fit-2 img {
  margin-left: 120px;
}

.fit-3 {
  margin-left: 70px;
}

.fit-3 p:nth-child(1) {
  width: 300px;
  text-align: center;
}

.fit-3 p:nth-child(2) {
  text-align: center;
  color: #79C8C7;
}

.fit-3 p:nth-child(3) {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}

.fit-3 img {
  margin-left: 120px;
}

.ready {
  background: #F67E7E;
  height: 200px;
}

.get {
  display: flex;
}

.get h2 {
  margin-left: 70px;
  font-size: 60px;
}

.get button {
  width: 200px;
  height: 35px;
  border-radius:30px;
  background: none;
  margin-top: 70px;
  margin-left: 300px;
}



.hill {
  background: #012F34;
  height: 200px;
  margin-top: -50px;
}


.bottom {
  padding-top: 50px;
  display: flex;
}

.bottom-1 h2 {
  margin-left: 70px;
  color: white;
}

.bottom-1 ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-left: 30px;
  color: white;
}

.bottom-2 p {
  margin-left: 70px;
  opacity: 0.6;
  color: white;
}

.bottom-3 {
  margin-top: 30px;
  margin-left: 400px;
}

.bottom-3 img {
  margin-left: 10px;
}

.bottom-3 p {
  opacity: 0.6;
  color: white;
}








/* Responsive */

@media only screen and (max-width: 768px) {

  .container {
    width: 90%;
  }

  .myteam-div-one ul {
    margin-left: 0px;
    gap: 50px;
  }

  .myteam-div-one button {
    width: 150px;
    margin-left: 200px;
    margin-top: 5px;
  }

  .myteam-div-two-div-one h2 {
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    margin-left: 70px;
  }

  .myteam-div-two-div-two p {
    position: absolute;
    height: 84px;
    left: 180px;
    margin-top: 70px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }

  .build-div-one h2 {
    font-size: 40px;
    width: 500px;
    line-height: 32px;
  }

  .center {
    height: 700px;
  }

  .build-div-two-one {
    position: absolute;
    width: 573px;
    height: 94px;
    left: 97px;
    top: 804px;
  }

  .build-div-two-two {
    position: absolute;
    width: 573px;
    height: 94px;
    left: 85px;
    top: 920px;
  }

  .build-div-two-there {
    position: absolute;
    width: 573px;
    height: 94px;
    left: 85px;
    top: 1050px;
  }


  .real {
    height: 2000px;
  }

  .real h2 {
    width: 420px;
    font-size: 32px;
  }


}